<div class="card-status <%= status_class(@loyalty_card) %>" id="cardStatus">
  <i class="fas <%= status_icon(@loyalty_card) %> me-2"></i>
  <span id="statusText"><%= status_text(@loyalty_card) %></span>
</div>