<button class="carousel-control-prev" type="button" data-turbo="false" data-bs-target="#heroCarousel" data-bs-slide="prev" aria-label="Previous slide">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
</button>